<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="user_name" value=""/>
    <add key="domain" value=""/>
    <add key="TIMEOUT" value=""/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="false" host="cwirelay" userName="" password="" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>